/obj/
/colossus_build
/colossus
/models/*.ply
/models/*.cgeo
/models/*.ctex
/models/washington/
/models/fox/
/models/*.cskn
/models/dragon_recon/
/models/forest/
/models/forest.scene
*.png
!/docs/*.png
*.d
/tests/builder_test
/web/models/
/tests/streamer_test
/docs/compare/clod_build
__pycache__/
